/examplePage.png
/examplePage - about us.png
/examplePage - company history.png
/examplePage - contact us.png
/examplePage - search.png
/.idea/jsLibraryMappings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/templateLanguages.xml
