body{
    color: floralwhite;
    height: calc(100vh - 100px);
    flex: auto;
}
.bgImg{
    background-image: url('../assets/buenosAires2.jpg');
    background-size: cover;
}

.box {
    display: flex;
    height: 100%;
    flex: 1 1 auto;
}
